@font-face {
    font-family: 'Gotham'; 
    src: url('fonts/Gotham-Book.otf');
}
body{
    margin: 0;
    font-size: 16px;
    font-family: 'Gotham';
    text-align: center;
}

/******************** Home layout ********************/
.home_container {
    height: 175vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 110px 1fr 7fr 5fr 180px;
}
#home_header {
    background-color: white;
}
#home_title {
    background-color: white;
}
#slideshow {
    background-color: white;
}
#home_text {
    background-color: white;
}
#home_footer {
    background-color: #454545;
    color: #c7c7c7
}

.logo {
    text-align: center;
}
.logoIMG {
     height: 55px;
}
.navbar {
    font-size: 0;
}
.navButton {
    display: inline-block;
    text-align: center;
    background-color: #454545;
    width: 25%;
    height: 55px;
    font-size: 2rem;
    transition: 0.3s;
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.navButton:hover {
    background-color: #5d5d5d;
}
.onPage {
    background-color: #fbeb5d;
    pointer-events: none;
    color: black;
    cursor: default;
}
.navButton > p {
    margin: 0;
}

#home_title h1 {
    text-align: center;
}
#home_text p {
    font-size: 1.5em;
    text-align: center;
    padding: 0 20px 0 20px;
}
/******************** Slideshow ********************/
.container {
    margin: auto;
    height: 100%;
    padding: 2rem;
}
.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider {
    display: flex;
    aspect-ratio: 16 / 5;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0rem 1.5rem 2rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.slider img {
    flex: 1 0 100%;
    width: 100%;
    height: auto;
    scroll-snap-align: start;
    object-fit: cover;
}

/******************** Footer ********************/
.footer_container_top {
    width: 85%;
    padding-left: 7.5%;
    padding-right: 7.5%;
}
.footer_top {
    display: inline-block;
    width: 33%;
}
.footer_top > p {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 5px;
}
.sndLine {
    margin-top: 0px;
}
.middle {
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
}
.middle div {
    text-align: center;
    flex-grow: 1;
}
.middle hr {
    flex-shrink: 0;
    flex-grow: 8;
    width: 10%;
    height: 0;
    border: 2px solid ;
}
.footer_container_bottom {
    width: 33%;
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
    margin-top: 30px;
}
.footer_nav {
    margin: 0 20px 0 20px;
    cursor: pointer;
    color: #c7c7c7;
    text-decoration: none;
}
.footer_onPage {
    font-weight: bold;
    cursor: default;
}


/******************** About us layout ********************/
.about_container {
    height: 165vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 110px 1fr 9fr 1fr 180px;
}
#about_header {
    background-color: white;
    grid-column: 1 / span 2;
    grid-row: 1;
}
#about_title {
    background-color: white;
    grid-column:  1 / span 2;
    grid-row: 2;
}
#about_quotes {
    background-color: white;
    grid-row: 3;
    grid-column: 1;
    display: block;
}
#about_main {
    background-color: white;
    grid-row: 3;
    grid-column: 2;
}
#about_extra {
    background-color: white;
    grid-column:  1 / span 2;
    grid-row: 4;
    font-size: 1.25rem;
}
#about_footer {
    background-color: #454545;
    grid-column:  1 / span 2;
    grid-row: 5;
    color: #c7c7c7
}

/******************** about us text *********************/
#about_quotes p {
    text-align: center;
    word-wrap: break-word;
}
#about_main p {
    text-align: center;
    word-wrap: break-word;
    font-size: 1.25rem;
}
#about_main li {
    font-size: 1.25rem;
    margin-top: 0.9rem;
}
.quote {
    font-style: italic;
    margin-bottom: 3.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
#about_extra p {
    margin: 2rem;
}

/******************** Leadership Page ***********************/
.lead_container {
    height: 165vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 110px 1fr 4fr 6fr 180px;
}
#lead_header {
    background-color: red;
    grid-column: 1 / span 4;
    grid-row: 1;
}
#lead_title {
    background-color: orange;
    grid-column:  1 / span 4;
    grid-row: 2;
}
#profile1 {
    background-color: yellow;
    grid-row: 3;
    grid-column: 1;
    display: inline-block;
    text-align: center;
}
#profile2 {
    background-color: green;
    grid-row: 3;
    grid-column: 2;
    display: inline-block;
    text-align: center;
}
#profile3 {
    background-color: blue;
    grid-row: 3;
    grid-column: 3;
    display: inline-block;
    text-align: center;
}
#profile4 {
    background-color: indigo;
    grid-row: 3;
    grid-column: 4;
    display: inline-block;
    text-align: center;
}
#lead_main {
    background-color: violet;
    grid-row: 4;
    grid-column: 1 / span 4;
}
#lead_footer {
    background-color: #454545;
    grid-column:  1 / span 4;
    grid-row: 5;
    color: #c7c7c7
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
}
.card:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 2px 16px;
}